.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2563eb; /* azul institucional */
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background: linear-gradient(90deg, rgba(37,99,235,0.12), rgba(109,40,217,0.06));
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .06);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-radius: .5rem;
}
